<!DOCTYPE html> 

<html lang="pl">

<head> <!-- Sugester Helpdesk Online v 8.3 -->
   	
		<meta charset="utf-8" />
	
		<title>{{title}}</title>
				
		{{system.meta}}
	    
	    {{system.css}} 
			
		<link href="//dp5zdpqpeogmk.cloudfront.net/assets/cms-view-59ed46680dcc558a1c9738368abe530f.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="http://fakturownia.pl/pagelayout/new/main.css?8111111111" media="screen" rel="stylesheet" type="text/css" />


		<link href="http://fakturownia.pl/pagelayout/new/fakturownia.css?11" media="screen" rel="stylesheet" type="text/css" />  


		<link href="http://fakturownia.pl/pagelayout/new/bootstrap/css/bootstrap.min.css?111111" media="screen" rel="stylesheet" type="text/css" />

		<link rel="shortcut icon" href="http://fakturownia.pl/pagelayout/new/fakturownia/favicon.ico?1" /> 

		<!--[if IE 6]><link href="http://fakturownia.pl/pagelayout/new/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

		<!--[if IE 7]><link href="http://fakturownia.pl/pagelayout/new/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

		<!--[if lt IE 9]>
		<link href="http://fakturownia.pl/pagelayout/new/ie.css" media="screen" rel="stylesheet" type="text/css" />
		<![endif]-->

		<!-- <link href='//fonts.googleapis.com/css?family=Dosis:400,500,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />

		<link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" /> -->

		{{system.javascript}}
	
</head>


 <body class="regulamin " id="id52819">
	
	<div id="container" class="home_page">
		
		
		<header>
			<div id="header" class="clearfix">
			<div class="header_cont">
				<div id="logo">
					<a href="http://fakturownia.pl/"><img src="https://d1dmfej9n5lgmh.cloudfront.net/radgost/portals/logos/3757/original/fakturownia-logo.png?1353839948" alt="Fakturownia logo"></a>
				</div>
				<div class="main_m" id="menu_1">
					<div class="navigation horizontal">
						<ul class="cms_menu_0 list_menu nav">
							<li class="jak-to-dziala first">
								<a href="http://fakturownia.pl/funkcje-programu"><span>Jak to działa</span></a>
							</li>
							<li class=" cennik">
								<a href="http://fakturownia.pl/cennik"><span>Cennik</span></a>
							</li>
							<li class=" kontakt last">
								<a href="http://fakturownia.pl/kontakt"><span>Kontakt</span></a>
							</li>
						</ul>
					</div>
					<ul id="login_register">
						<li class=" login">
							<a href="https://app.fakturownia.pl/goto" class="btn btn-info"><span>Zaloguj się</span></a>
						</li>
						<li class=" register">
							<a href="https://app.fakturownia.pl/signup" class="btn btn-success"><span>Załóż konto</span></a>
						</li>
					</ul>
				</div><!-- menu_1 -->
			</div><!-- end header_cont -->
		</div><!-- end header -->

      </header>	

		<div class="clear"></div>
		
		<div id="content">
		
			<div class="clear"></div>
			<div id="column_middle" class="feedback_content">
				<div class="column_content">
					
					{{content}}
					
				</div><!-- column_content -->
				<div class="clear"></div>
			</div><!-- end of #column_middle -->
			<div id="column_right" class="sidebar feedback_sidebar">
				<div class="column_content">
					
					
					{{sidebar}}
					
					
				</div><!-- column_content -->
			</div><!-- end of #column_right -->
			
		</div><!-- end #content -->

		
		<div class="clear"></div>
	
		

	</div><!-- end #container -->
   
	<div id="footer">
	<div id="footer_content">
		<div class="clear"></div>
		<ul id="bottom_horizontal">
			<li class="short_desc longer_one1">
				<h3>
					Produkt
				</h3>
				<ul class="cms_menu_0 list_menu nav">
					<li class="pomoc first">
						<a href="http://pomoc.fakturownia.pl/" target="_blank"><span>Pomoc</span></a>
					</li>
					<li class="regulamin current">
						<a href="http://fakturownia.pl/regulamin"><span>Regulamin</span></a>
					</li>
					<li class=" api last">
						<a href="https://app.fakturownia.pl/api"><span>API</span></a>
					</li>
				</ul>
			</li>
			<li class="contact">
				<h3>
					Pomoc
				</h3>
				<ul>
					<li>
						<a href="mailto:helpdesk@fakturownia.pl">helpdesk@fakturownia.pl</a>
					</li>
					<li>
						<a href="tel:+48%2022%20250%2015%2080">+48 22 250 15 80</a>
					</li><!-- BEGIN OLARK CHAT LINK -->
					<li>
						<a href="javascript:void(0);" onclick="olark('api.box.expand')">Czat online</a>
					</li>
				</ul>
			</li>
			<li class="our_stuff">
				<h3>
					Strefa klienta
				</h3>
				<ul>
					<li>
						<a href="//app.fakturownia.pl/login">Logowanie klienta</a>
					</li>
					<li>
						<a href="//app.fakturownia.pl/goto">Twoje faktury</a>
					</li>
					<li>
						<a href="http://app.fakturownia.pl/kursy-walut">Kursy walut</a>
					</li>
				</ul>
			</li>
			<li class="login_register">
				<a href="http://fakturownia.pl/jak-to-dziala" class="btn btn-large btn-block" style="margin-bottom:10px"><span>Dowiedz się więcej →</span></a>
				<div class="clear"></div><a href="https://app.fakturownia.pl/signup" class="btn btn-success btn-large btn-block">Zarejestruj się <span class="small" style="margin-top:4px;display:block;font-size:0.6em">dostępna wersja darmowa</span></a>
			</li>
		</ul>
		<div class="clear"></div>
		<div id="menu_bottom" class="clearfix">
			<div class="navigation horizontal left">
				<ul class="social">
					<li class="first twitter">
						<a href="https://twitter.com/fakturownia" target="_blank"><span>twitter</span></a>
					</li>
					<li class="googleplus">
						<a href="https://plus.google.com/114690567726180477841/posts" target="_blank"><span>googleplus</span></a>
					</li>
					<li class="last facebook">
						<a href="http://www.facebook.com/fakturownia" target="_blank"><span>facebook</span></a>
					</li>
				</ul>
			</div><!-- menu_1 -->
			<div class="navigation right">
				<ul class="cms_menu_0 list_menu nav">
					<li class="main poradnik first">
						<a href="http://fakturownia.pl/poradnik"><span>Poradnik</span></a>
					</li>
					<li class=" blog">
						<a href="http://fakturownia.pl/blog"><span>Blog</span></a>
					</li>
					<li class=" kontakt">
						<a href="http://fakturownia.pl/kontakt"><span>Kontakt</span></a>
					</li>
					<li class=" program-partnerski">
						<a href="http://fakturownia.pl/program-partnerski"><span>Program partnerski</span></a>
					</li>
					<li class=" o-nas-w-sieci">
						<a href="http://fakturownia.pl/o-nas-w-sieci"><span>O nas w sieci</span></a>
					</li>
					<li class=" oferty-pracy last">
						<a href="http://radgost.com/praca" target="_blank"><span>Oferty pracy</span></a>
					</li>
				</ul>
				<ul class="right">
					<li class="last">
						<a target="_blank" href="http://sugester.pl/" rel="nofollow"><span>powered by Sugester Helpdesk</span></a>
					</li>
				</ul>
			</div>
		</div><!-- menu_bottom -->
		<address>
			Radgost Sp. z o.o., &nbsp;ul. Olesińska 21,&nbsp; 02-548 Warszawa,&nbsp; tel. +48 22 250 15 80
		</address>
		<p>
			<br>
			<span class="small">Wykorzystujemy ciasteczka (cookies) w celu gromadzenia informacji związanych z korzystaniem z serwisu. Stosowane przez nas pliki typu cookies umożliwiają utrzymanie sesji po zalogowaniu. Można wyłączyć ten mechanizm w ustawieniach przeglądarki. Korzystanie z naszego serwisu bez zmiany ustawień dotyczących cookies oznacza, że będą one zapisane w pamięci urządzenia. Więcej na stronie: <a href="/regulamin">regulamin</a></span>
		</p>
	</div><!-- end #footer_cont -->
</div><!-- end #footer -->

  
</body>

</html>
